[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Spell Checker
Name[Name]=Spell Checker
Name[ab]=
Name[be]=Усё - Праверка арфаграфіі
Name[ca]=
Name[cs]=Spouštěč - Aspell
Name[de]=Launcher - Aspell
Name[el]=
Name[eo]=Ĉiuilo por Aspell
Name[es]=Frontend de Aspell
Name[fr]=Vérificateur d'orthographe
Name[gl]=
Name[hu]=
Name[it]=Controllo ortografico
Name[ja]=
Name[ko]=
Name[pl]=Kontrola pisowni
Name[pt]=Corretor ortográfico
Name[ru]=Всё - Проверка орфографии
Name[sk]=Spúšťač - Aspell
Name[sr]=
Name[tr]=Launcher - Aspell
GenericName[es]=Interfaz de Aspell
Comment=Aspell Frontend, use 's  ' as trigger.
Comment[be]=Доступ да праверкі арфаграфіі Aspell. Набярыце 's  ' каб актываваць.
Comment[sk]=Rozšíření Aspell. Použi 's " pro aktivaci.
Comment[de]=Bedienung von Aspell. Verwenden Sie 's  ' als Auslöser.
Comment[eo]=Fasado de Aspell, uzu "s " kiel ekagilon.
Comment[es]=Interfaz de Aspell, use 's  ' para activar
Comment[fr]=Frontal pour Aspell, utilise « s+barre d'espace » comme déclencheur.
Comment[gl]=Interface gráfica para Aspell, usa 's ' como disparador.
Comment[it]=Interfaccia grafica, usa 's ' per avviare.
Comment[pl]=Interfejs graficzny, użyj 's ' aby uruchomić.
Comment[pt]=Interface gráfica para o Aspell. Utiliza "s+barra de espaço" como lançador.
Comment[ru]=Доступ к проверке орфографии Aspell, наберите 's ' для активации.
Comment[sk]=Rozšírenie Aspell. Použi 's " pre aktiváciu.
Comment[tr]=Aspell önyüzü, tetikleyici olarak 's ' yazın.
Icon=e-module
X-Enlightenment-ModuleType=launcher
